/* kettlebells.html comienzo*/

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, $color-amarilloking, #FFA500);
  border-radius: 14px;
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 550;
  padding: 10px;
}

@mixin responsive-text {
  font-size: 20px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.competicion {
  padding-top: 12%;

  h2 {
    @include center;
  }

  p {
    @include responsive-text;
    background: linear-gradient(to right, #fcfc7e, $color-nieve);
    padding: 10%;
    border-radius: 10px;
  }

  img {
    width: 95%;
    height: 450px;
    border-radius: 5px;
    margin-top: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

    span {
      @include responsive-text;
    }
  }

/*kettlebells.html fin*/


