/* entrenamientos.html comienzo */
@mixin responsive-image {
  max-width: 100%;
  height: 450px;
  margin-top: 55px;
  margin-bottom: 55px;
  border-radius: 5px;
}

@mixin gradient-text {
  background: linear-gradient($color-amarilloking, #FFA500);
  border-radius: 10px;
  color: $color-noche;
  font-size: 28px;
  font-weight: 490;
}

%gradient-text {
  @include gradient-text;
}

main {
  h2.tituloseccion,
  h3 {
    @extend %gradient-text;
  }
}

.training {
  margin-top: 80px;

  .tituloseccion {
    padding: 10px;
    margin-bottom: 85px;
    margin-top: 100px;
    font-size: 28px;
    font-weight: 550;
  }

  .row {
    article {
      h3 {
        border: none;
        padding: 5px;
      }

      img {
        @include responsive-image;
      }
    }
  }
}

/*entrenamientos.html fin*/













