/*contacto.html comienzo*/

body {
  font-family: 'Montserrat', sans-serif;
  ;
  background-color: $color-nieve;
}

.containercontact {
  margin-top: 25px;
  margin-bottom: 40px;
  background-color: $color-nieve;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  padding-top: 10%;
  border: 2px solid red;


  h2 {
    color: $color-noche;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-control {
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.2);

    &:focus {
      border-color: $color-amarilloking;
      box-shadow: none;
    }
  }

  button.btn-warning {
    background-color: $color-amarilloking;
    border: none;

    &:hover {
      background-color: darken($color-amarilloking, 10%);
    }
  }

  border: none;
}



/*contacto.html fin*/


